<app-navbar></app-navbar>
<div class="main-content">

  <div class="container mt-4">
    <h2>Destinations List</h2>
    <button type="button" class="btn btn-primary mb-4" id="butt" routerLink="/add-destination">Add Destination</button>
    <div class="row">
      <div *ngFor="let destination of destinations" class="col-md-4">
        <div class="card">
          <img src="/assets/images/destinations/{{destination.img}}" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">{{destination.nom}}</h5>
            <div class="d-flex justify-content-between">
              <!-- Bouton "Éditer" -->
              <button type="button" class="btn btn-warning" routerLink="/edit-destination/{{destination.id_destination}}" >Edit</button>
              <!-- Bouton "Supprimer" -->
              <button type="button" class="btn btn-danger" (click)="delete(destination.id_destination)" >DELETE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>
