<app-header></app-header>
<body>

    <div class="page-wrapper">
    <!-- Page Banner -->
	<section class="page-banner" style="background-image: url(/assets/images/background/17.jpg)">
		<div class="auto-container">

			<h1 class="page-banner_title">{{hotelData.nom}}</h1>
			<div class="banner-rating">
				<i class="fas fa-map-marker-alt fa-fw"></i>
				{{hotelData.localisation}} &ensp; | &ensp;
				<span *ngFor="let star of [].constructor(hotelData.categorie)" class="fa fa-star"></span>
			</div>
		</div>
	</section>
	<!-- End Page Banner -->

	<!-- Hotel Detail Detail -->
	<section class="hotel-detail_gallery">
		<div class="auto-container">
			<div class="row clearfix">
				<div class="col-lg-9 col-md-9 col-sm-12">
					<div class="image">
						<a class="lightbox-image" href="/assets/images/hotels/{{photos[0]}}"><img style="height: 620px;" src="/assets/images/hotels/{{photos[0].url}}" alt="" /></a>
					</div>
				</div>
				<div  class="col-lg-3 col-md-3 col-sm-12">
					<div *ngFor="let photo of photos.slice(1, 4)">
						<a class="lightbox-image" href="/assets/images/hotels/{{ photo }}"><img  src="/assets/images/hotels/{{ photo.url }}" alt="" /></a>
					  </div>


				</div>
			</div>
		</div>
	</section>
	<!-- End Hotel Detail -->

	<!-- Hotel Detail -->
	<section class="hotel-detail">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Left Column -->
				<div class="left-column col-lg-8 col-md-12 col-sm-12">
					<h2>OVERVIEW</h2>
					<p>Situated just steps from the iconic Place Vendôme, the hotel offers easy access to some of the city's most famous attractions, including the Louvre Museum, the Champs-Élysées, the Arc de Triomphe, and the famous Eiffel Tower view.</p>


					<h3>LOCATION</h3>
					<!-- Map Three -->
					<div class="map-three">
						<iframe [src]="hotelData.srcMaps | trustUrl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				</div>
					<!-- End Map Three -->



					<!-- Hotel Rooms -->
					<div class="hotel-rooms">
						<h3>ROOM TYPES</h3>
					</div>
					<!-- End Hotel Rooms -->

					<!-- Room Block One -->
					<div *ngFor="let chambre of chambres" class="room-block_one">
						<div class="room-block_one-inner">
							<div class="comfort-section">

                                <a href="/assets/images/gallery/52.jpg" class="lightbox-image"><img src="/assets/images/chambres/{{chambre.img}}" alt=""></a>

							</div>
							<div class="room-block_one-content">
								<div class="room-block_one-title"><a href="hotel-booking.html">{{chambre.nom}}</a></div>
								<ul class="room-block_one-options">
									<li><span class="icon"><img src="/assets/images/icons/hotel-icon-11.png" alt="" /></span>{{chambre.surface}}</li>
									<li><span class="icon"><img src="/assets/images/icons/hotel-icon-12.png" alt="" /></span>Queen Size</li>
									<li><span class="icon"><img src="/assets/images/icons/hotel-icon-13.png" alt="" /></span>{{chambre.nbre_personnes}} guests</li>
								</ul>
								<ul class="room-block_one-list">
									<li>Free Wi-Fi</li>
									<li>Toiletries</li>
									<li>No Breakfast</li>
								</ul>
								<div class="price-box">
									<div class="price">$ {{chambre.prix}} <span>/ night</span></div>
									<!-- Button Box -->
										<div>
											<button (click)="goToBooking(hotelData.id_hotel, chambre.id_chambre)" class="btn-style-two theme-btn" id="donation_next">
												<span class="btn-wrap">
													<span class="text-one">Book</span>
													<span class="text-two">Book</span>
												</span>
											</button>
										</div>

								</div>
							</div>
						</div>
					</div>



					<!-- Comment -->


				</div>

			</div>
		</div>
	</section>



  </div>
</body>
	<!-- End CTA One -->
  <app-footer></app-footer>
