<app-header></app-header>
<body>

    <div class="page-wrapper">
    <!-- Page Banner -->
	<section class="page-banner" style="background-image: url(/assets/images/background/17.jpg)">
		<div class="auto-container">
			<ul class="page-breadbrumbs">
				<li><a href="#">Home</a></li>
				<li>destination</li>
				<li>hotels</li>
			</ul>
			<h1 class="page-banner_title">{{hotelData.nom}}</h1>
			<div class="banner-rating">
				<i class="fas fa-map-marker-alt fa-fw"></i>
				{{hotelData.localisation}} &ensp; | &ensp;
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
			</div>
		</div>
	</section>
	<!-- End Page Banner -->

	<!-- Hotel Detail Detail -->
	<section class="hotel-detail_gallery">
		<div class="auto-container">
			<div class="row clearfix">
				<div class="col-lg-9 col-md-9 col-sm-12">
					<div class="image">
						<a class="lightbox-image" href="/assets/images/hotels/{{photos[0]}}"><img src="/assets/images/hotels/{{photos[0].url}}" alt="" /></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div *ngFor="let photo of photos.slice(1, 4)">
						<a class="lightbox-image" href="/assets/images/hotels/{{ photo }}"><img src="/assets/images/hotels/{{ photo.url }}" alt="" /></a>
					  </div>
					
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Hotel Detail -->

	<!-- Hotel Detail -->
	<section class="hotel-detail">
		<div class="auto-container">
			<div class="row clearfix">
				<div> 
					<button (click)="goToBooking()" class="btn-style-two theme-btn" id="donation_next">
					<span class="btn-wrap">
						<span class="text-one">Book</span>
						<span class="text-two">Book</span>
					</span>
				</button></div>
				<!-- Left Column -->
				<div class="left-column col-lg-8 col-md-12 col-sm-12">
					<h2>OVERVIEW</h2>
					<p>Situated just steps from the iconic Place Vendôme, the hotel offers easy access to some of the city's most famous attractions, including the Louvre Museum, the Champs-Élysées, the Arc de Triomphe, and the famous Eiffel Tower view.</p>
					<h3>FACILITIES</h3>
					<div class="clearfix">

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-1.png" alt="" /></span>
							High-Speed <br> Internet
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-2.png" alt="" /></span>
							Quality <br> Restaurant
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-3.png" alt="" /></span>
							Spa & <br> Wellness
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-4.png" alt="" /></span>
							Swimming <br> Pool & Sauna
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-5.png" alt="" /></span>
							24/7 <br> Front-Desk
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-6.png" alt="" /></span>
							Valet <br> Parking
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-7.png" alt="" /></span>
							Laundry & <br> Dry Cleaning
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-8.png" alt="" /></span>
							Room <br> Service
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-9.png" alt="" /></span>
							Business Center <br> & Meeting Room
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="/assets/images/icons/hotel-icon-10.png" alt="" /></span>
							Luggage <br> Storage
						</div>

					</div>
					<h3>LOCATION</h3>
					<!-- Map Three -->
					<div class="map-three">
						<iframe [src]="hotelData.srcMaps | trustUrl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				</div>
					<!-- End Map Three -->



					<!-- Hotel Rooms -->
					<div class="hotel-rooms">
						<h3>ROOM TYPES</h3>
					</div>
					<!-- End Hotel Rooms -->

					<!-- Room Block One -->
					<div *ngFor="let chambre of chambres" class="room-block_one">
						<div class="room-block_one-inner">
							<div class="comfort-section">

                                <a href="/assets/images/gallery/52.jpg" class="lightbox-image"><img src="/assets/images/chambres/{{chambre.img}}" alt=""></a>

							</div>
							<div class="room-block_one-content">
								<div class="room-block_one-title"><a href="hotel-booking.html">{{chambre.nom}}</a></div>
								<ul class="room-block_one-options">
									<li><span class="icon"><img src="/assets/images/icons/hotel-icon-11.png" alt="" /></span>{{chambre.surface}}</li>
									<li><span class="icon"><img src="/assets/images/icons/hotel-icon-12.png" alt="" /></span>Queen Size</li>
									<li><span class="icon"><img src="/assets/images/icons/hotel-icon-13.png" alt="" /></span>{{chambre.nbre_personnes}} guests</li>
								</ul>
								<ul class="room-block_one-list">
									<li>Free Wi-Fi</li>
									<li>AC</li>
									<li>Toiletries</li>
									<li>Mini Bar</li>
									<li>No Breakfast</li>
								</ul>
								<div class="price-box">
									<div class="price">$ {{chambre.prix}} <span>/ night</span></div>
									<!-- Button Box -->
									<div class="button-box">
										<a class="btn-style-two theme-btn" href="hotel-booking.html">
											<div class="btn-wrap">
												<span class="text-one">Book Now</span>
												<span class="text-two">Book Now</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					

					<!-- Comment -->
					<div class="hotel-detail_review">
						<div class="review-inner">
							<h4>A Luxurious and Memorable Stay</h4>
							<div class="text">“We had a wonderful stay at the Grand Elysée Hotel. The staff was extremely friendly and helpful, and the room was spacious, clean, and comfortable. The hotel's location is perfect, with many popular attractions and restaurants within walking distance. We also enjoyed the hotel's restaurant and spa, which were both excellent. Overall, it was a truly luxurious and memorable experience.”</div>
							<div class="news-block_four-author">
								<div class="news-block_four-author_image">
									<img src="/assets/images/resource/author-9.jpg" alt="" />
								</div>
								Maria Garcia
								<span>Client from Spain</span>
							</div>
							<div class="hotel-review_pattern" style="background-image: url(/assets/images/icons/pattern-3.png)"></div>
						</div>
					</div>

					<!-- Comment -->
					<div class="hotel-detail_review">
						<div class="review-inner">
							<h4>Exceptional Service & Facilities</h4>
							<div class="text">“My wife and I stayed at the Grand Elysée Hotel for our honeymoon, and we couldn't have been happier with our experience. The hotel's service and facilities were exceptional, and the staff went above and beyond to make our stay special. We especially enjoyed the spa and fitness center, which were both top-notch. The location of the hotel is also excellent, with many popular attractions nearby. We highly recommend!”</div>
							<div class="news-block_four-author">
								<div class="news-block_four-author_image">
									<img src="/assets/images/resource/author-10.jpg" alt="" />
								</div>
								Jonathan Smith
								<span>Client from United States</span>
							</div>
							<div class="hotel-review_pattern" style="background-image: url(/assets/images/icons/pattern-3.png)"></div>
						</div>
					</div>

					<!-- Pagination Outer -->
					<div class="pagination-outer text-right">
						<ul class="paginations">
							<li><a href="#"><span class="flaticon-left-arrow-2"></span></a></li>
							<li class="active"><a href="#">01</a></li>
							<li><a href="#">02</a></li>
							<li><a href="#">03</a></li>
							<li>...</li>
							<li><a href="#">10</a></li>
							<li><a href="#"><span class="flaticon-next-2"></span></a></li>
						</ul>
					</div>

					<!-- Hotel Detail Policies -->
					<div class="hotel-detail_policies">
						<h4>HOTEL POLICIES</h4>
						<ul class="tour-detail-two_options">
							<li>Pets are not allowed in the hotel.</li>
							<li>Smoking is strictly prohibited in all indoor areas of the hotel.</li>
							<li>Check-in time is at 3:00 PM and check-out time is at 12:00 PM.</li>
							<li>The hotel may charge a fee for early check-in or late check-out.</li>
							<li>Additional fees may apply for certain hotel amenities or services.</li>
							<li>The hotel requires a valid government-issued photo ID or passport at check-in.</li>
							<li>Guests are responsible for any damages caused to the hotel property during stay.</li>
							<li>The hotel reserves the right to refuse service to anyone who violates hotel policies or causes disturbance to other guests.</li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- End Hotel Detail -->

	<!-- Hotel Detail Nearby -->
	<div class="hotel-detail_nearby">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Title Column -->
				<div class="title-column col-lg-3 col-md-12 col-sm-12">
					<h4>NEARBY HOTELS</h4>
				</div>
				<!-- Carousel Column -->
				<div class="carousel-column col-lg-9 col-md-12 col-sm-12">
					<div class="three-item-carousel owl-carousel owl-theme">

						<!-- Hotel Block One -->
						<div class="hotel-block_one">
							<div class="hotel-block_one-inner">
								<div class="hotel-block_one-image">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<a href="#"><img src="D:/angularWorkspace/Hotel/src//assets/images/resource/hotel-6.jpg" alt="" /></a>
								</div>
								<div class="hotel-block_one-content">
									<h5 class="hotel-block_one-heading"><a href="hotel-details.html">Hotel de Crillon</a></h5>
									<div class="hotel-block_one-location">Place de la Concorde</div>
									<div class="hotel-block_one-price">$ 900 / night</div>
									<a class="hotel-block_one-arrow flaticon-next-2" href="hotel-details.html"></a>
								</div>
							</div>
						</div>

						<!-- Hotel Block One -->
						<div class="hotel-block_one">
							<div class="hotel-block_one-inner">
								<div class="hotel-block_one-image">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<a href="hotel-details.html"><img src="/assets/images/resource/hotel-7.jpg" alt="" /></a>
								</div>
								<div class="hotel-block_one-content">
									<h5 class="hotel-block_one-heading"><a href="hotel-details.html">Le Bristol</a></h5>
									<div class="hotel-block_one-location">Avenue d'Iéna</div>
									<div class="hotel-block_one-price">$ 850 / night</div>
									<a class="hotel-block_one-arrow flaticon-next-2" href="hotel-details.html"></a>
								</div>
							</div>
						</div>

						<!-- Hotel Block One -->
						<div class="hotel-block_one">
							<div class="hotel-block_one-inner">
								<div class="hotel-block_one-image">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<a href="hotel-details.html"><img src="/assets/images/resource/hotel-8.jpg" alt="" /></a>
								</div>
								<div class="hotel-block_one-content">
									<h5 class="hotel-block_one-heading"><a href="hotel-details.html">Shangri-La Hotel</a></h5>
									<div class="hotel-block_one-location">Faubourg Saint-Honoré</div>
									<div class="hotel-block_one-price">$ 700 / night</div>
									<a class="hotel-block_one-arrow flaticon-next-2" href="hotel-details.html"></a>
								</div>
							</div>
						</div>

						<!-- Hotel Block One -->
						<div class="hotel-block_one">
							<div class="hotel-block_one-inner">
								<div class="hotel-block_one-image">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<a href="hotel-details.html"><img src="/assets/images/resource/hotel-6.jpg" alt="" /></a>
								</div>
								<div class="hotel-block_one-content">
									<h5 class="hotel-block_one-heading"><a href="hotel-details.html">Hotel de Crillon</a></h5>
									<div class="hotel-block_one-location">Place de la Concorde</div>
									<div class="hotel-block_one-price">$ 900 / night</div>
									<a class="hotel-block_one-arrow flaticon-next-2" href="hotel-details.html"></a>
								</div>
							</div>
						</div>

						<!-- Hotel Block One -->
						<div class="hotel-block_one">
							<div class="hotel-block_one-inner">
								<div class="hotel-block_one-image">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<a href="hotel-details.html"><img src="/assets/images/resource/hotel-7.jpg" alt="" /></a>
								</div>
								<div class="hotel-block_one-content">
									<h5 class="hotel-block_one-heading"><a href="hotel-details.html">Le Bristol</a></h5>
									<div class="hotel-block_one-location">Avenue d'Iéna</div>
									<div class="hotel-block_one-price">$ 850 / night</div>
									<a class="hotel-block_one-arrow flaticon-next-2" href="hotel-details.html"></a>
								</div>
							</div>
						</div>

						<!-- Hotel Block One -->
						<div class="hotel-block_one">
							<div class="hotel-block_one-inner">
								<div class="hotel-block_one-image">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<a href="hotel-details.html"><img src="/assets/images/resource/hotel-8.jpg" alt="" /></a>
								</div>
								<div class="hotel-block_one-content">
									<h5 class="hotel-block_one-heading"><a href="hotel-details.html">Shangri-La Hotel</a></h5>
									<div class="hotel-block_one-location">Faubourg Saint-Honoré</div>
									<div class="hotel-block_one-price">$ 700 / night</div>
									<a class="hotel-block_one-arrow flaticon-next-2" href="hotel-details.html"></a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hotel Detail Nearby -->

	<!-- CTA One -->
	<section class="cta-one" style="background-image: url(/assets/images/background/2.jpg)">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="cta-one_title-box">
				<h1 class="cta-one_heading">start your adventure</h1>
				<div class="cta-one_text">Sign up for our newsletter and receive exclusive travel deals, insider tips, and destination <br> inspiration. Don't miss out on the adventure - join our mailing list today!</div>

				<!-- Subscribe Box -->
				<div class="subscribe-box">
					<form method="post" action="https://wpthemebooster.com/demo/themeforest/html/vacasky/contact.html">
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="Enter your email address here ..." required>
							<button class="submit-btn theme-btn">
								Subscribe
							</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</section>
  </div>
</body>
	<!-- End CTA One -->
  <app-footer></app-footer>
