<!-- Main Header -->
<header class="header header_style_one" style="    margin-left: auto;">
  <div class="middle_bar">
    <div class="auto-container">
      <div
        class="middle_bar_inner d-flex align-items-center justify-content-center justify-content-between gap-4 flex-wrap">
        <!-- Logo -->
        <div class="logo">
          <a href="index.html" class="logo_default"><img src="/assets/images/logo.svg" alt="img"></a>
          <a href="index.html" class="logo_sticky"><img src="/assets/images/sticky-logo.svg" alt="img"></a>
        </div>
        <div class="mainnav d-none d-lg-block">
          <ul class="main_menu">
            <li class="menu-item " routerLink="/home"><a href="#">Home</a>

            </li>
            <li class="menu-item menu-item-has-children"><a href="#">Hotels</a>
              <ul class="sub-menu">
                <li class="menu-item"><a routerLink="/hotels">Hotel</a></li>

              </ul>
            </li>

            <!-- <li class="menu-item menu-item-has-children"><a href="#">Destination</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="destination.html">Destination v1</a></li>
                <li class="menu-item"><a href="destination-2.html">Destination v2</a></li>
                <li class="menu-item"><a href="destination-details.html">Destination Details</a></li>
              </ul>
            </li> -->

            <!-- <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="about.html">About</a></li>
                <li class="menu-item"><a href="contact.html">Contact</a></li>
                <li class="menu-item"><a  routerLink="/login">Login</a></li>
                <li class="menu-item"><a>Signup</a></li>
              </ul>
            </li> -->

            <!-- <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="blog.html">Our Blog</a></li>
                <li class="menu-item"><a href="blog-details.html">Blog Detail</a></li>
              </ul>
            </li> -->

            <!-- <li class="menu-item menu-item-has-children"><a href="#">Dashboard</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="dashboard/dashboard-hotel.html">Admin Dashboard</a></li>
                <li class="menu-item"><a href="dashboard/account-profile.html">User Dashboard</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
        <div *ngIf="!isLogin()" class="other_elements_wrapper d-flex align-items-center gap-4" style="height: 40px;">
          <!-- Button Box -->
          <div class="button-box d-none d-sm-block">
            <a class="btn-style-one theme-btn" routerLink="/login" style=" background-color: #28A745; color: white;   width: 126px; height: 43px; ">
              <div class="btn-wrap">
                <span class="text-one" style="   margin-top: -5px; width: 72px; height: 24px;">Sign In</span>
                <span class="text-two" style="    margin-top: -2px;">Sign In</span>
              </div>
            </a>
            <a class="btn-style-two theme-btn" href="login.html" style="background-color: #28A745; color: white;">
              <div class="btn-wrap">
                <span class="text-one">Sign In</span>
                <span class="text-two">Sign In</span>
              </div>
            </a>
          </div>

          <!-- Mobile Menu Toggle Button -->
          <div class="mr_menu_toggle d-lg-none">
            <span class="toggle_line"></span>
            <span class="toggle_line"></span>
            <span class="toggle_line"></span>
          </div>
        </div>
        <div class="userName" *ngIf="isLogin()">{{userName}}</div>
        <button *ngIf="isLogin()" class="btn btn-danger" (click)="logout()">Logout</button></div></div>
  </div>
</header>
