<app-navbar></app-navbar>
<div class="main-content">
  <div class="container mt-5">
    <h2 class="text-center mb-4">List of Hotels</h2>
    <!-- Bouton "Ajouter un hôtel" -->
    <button type="button" class="btn btn-primary mb-4" id="butt" routerLink="/add-hotel">Add hotel</button>
    <div class="row">
      <!-- Boucle sur les hôtels -->
      <div *ngFor="let hotel of hotels" class="col-md-4 mb-4">
        <div class="card">
          <img src="/assets/images/hotels/{{hotelImages[hotel.id_hotel]}}" class="card-img-top" alt="Hotel Image" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{hotel.nom}}</h5>
            <p class="card-text">{{hotel.categorie}}</p>
            <p class="card-text">{{hotel.localisation}}</p>
            <p class="card-text">{{hotel.prix}}$</p>
            <div class="d-flex justify-content-between align-items-center">
             
              <div>
                <button type="button" [routerLink]="'/edit-hotel/' + hotel.id_hotel" class="btn btn-warning me-2">Edit</button>
                <button type="button" [routerLink]="'/images/'+hotel.id_hotel" class="btn btn-primary me-2">Pictures</button>
                <button type="button" [routerLink]="'/chambres/'+hotel.id_hotel" class="btn btn-primary me-2">Rooms</button>

                <button type="button" (click)="onDelete(hotel.id_hotel)" class="btn btn-danger" me-2>Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
