.main-content {
  margin-left: 250px; /* Marge à gauche pour laisser de l'espace à la barre latérale */
  padding: 44px;
  background-color: #fff; /* Set a background color for the main content */
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2); /* Add a shadow to the main content */
}
/* Style pour le titre de la page */
h2 {
  color: #333;
  text-align: center;
}

/* Style pour la carte d'un hôtel */
.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour le contenu de la carte */
.card-body {
  padding: 20px;
}

/* Style pour le titre de l'hôtel */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Style pour les détails de l'hôtel */
.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Style pour la couleur du prix */
.card-text:last-child {
  color: #007bff;
  font-weight: bold;
}
#butt{
  margin-bottom: 31px;
  margin-left: 1000px;
}
