<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Your existing navbar items here -->
      </ul>

      <!-- User info and logout button -->
      <div class="d-flex align-items-center">
        <span *ngIf="isLogin()" class="navbar-text mr-3" >{{userName}}</span> <!-- Replace 'Username' with the connected user's name -->
        <button class="btn btn-outline-danger" (click)="logout()" style="margin-left: 20px;">Logout</button>
      </div>
    </div>
  </div>
</nav>

<div class="sidebar ">
  <!-- Logo de l'administration de l'hôtel -->
  <div class="sidebar-logo">
    <img src="../../../../assets/img/logohotel.png" alt="Logo de l'administration de l'hôtel" style="width: 100px; height: 100px;">
  </div>

  <ul class="breadcrumb">
    <li class="breadcrumb-item active" style="    font-size: 25px;">Dashboard Admin</li>
  </ul>

  <!-- Liens de la barre latérale -->
  <ul>
    <!-- Lien du tableau de bord avec icône -->
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <!-- Ajouter le contenu de la barre latérale ici -->
      </ul>
    </div>
    <div class="dropdown" routerLink="/dashboard">
      <button class="btn btn-primary " type="button"  style="width: 220px;  height: 60px;" >
        <i class="fas fa-suitcase"></i> Dashboard
      </button>

    </div>

  </ul>

  <ul>
    <!-- Lien du tableau de bord avec icône -->
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <!-- Ajouter le contenu de la barre latérale ici -->
      </ul>
    </div>
    <div class="dropdown" routerLink="/list-destination">
      <button class="btn btn-primary " type="button"  style="width: 220px;  height: 60px;">
        <i class="fas fa-suitcase"></i> Destination list
      </button>

    </div>

    <!-- Ajoutez d'autres liens ici -->
  </ul>

  <!-- Liens de la barre latérale -->
  <ul>
    <!-- Lien du tableau de bord avec icône -->
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <!-- Ajouter le contenu de la barre latérale ici -->
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary " type="button"  style="width: 220px;  height: 60px;" routerLink="/list-hotel">
        <i class="fas fa-suitcase" ></i> Hotel list
      </button>

    </div>

    <!-- Ajoutez d'autres liens ici -->
  </ul>

  <!-- Liens de la barre latérale -->
  <ul>
    <!-- Lien du tableau de bord avec icône -->
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <!-- Ajouter le contenu de la barre latérale ici -->
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary " type="button"  style="width: 220px;  height: 60px;">
        <i class="fas fa-suitcase"></i> destination list
      </button>

    </div>

    <!-- Ajoutez d'autres liens ici -->
  </ul>
</div>


