<app-navbar></app-navbar>
<div class="main-content">

  <div class="container mt-4">
    <h2>Rooms</h2>
    <button type="button" class="btn btn-primary mb-4" id="butt" routerLink="/add-chambre/{{idhotel}}">Add Room</button>
    <div class="row">
      <div *ngFor="let chambre of chambres" class="col-md-4">
        <div class="card">
          <img src="/assets/images/chambres/{{chambre.img}}" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">{{chambre.nom}}</h5>
            <p class="card-text">guests: {{chambre.nbre_personnes}}</p>
            <p class="card-text">surface: {{chambre.surface}}</p>
            <p class="card-text">{{chambre.prix}}$</p>
            <div class="d-flex justify-content-between">
              <!-- Bouton "Éditer" -->
              <button type="button" class="btn btn-warning" routerLink="/edit-chambre/{{chambre.id_chambre}}" >Edit</button>
              <!-- Bouton "Supprimer" -->
              <button type="button" class="btn btn-danger" (click)="delete(chambre.id_chambre)">DELETE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>
