.sortable-masonry .items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espace entre les éléments */
}

.sortable-masonry .gallery-block_two {
    margin-bottom: 30px; /* Espacement entre les lignes */
}

.sortable-masonry .gallery-block_two-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
