.banner-one_form-box{
    margin-left: 40px;
}
.banner-one_form-box{
    padding-right: 25px;
}
.text-two{
    padding-left: 445px;
}
.hotelImage{
    height: 250px;
    width: 365px;
    /* object-fit: cover; */
}
.page-banner{
    height: 100px;
}
.banner-one_form-box{
    margin: 0%;
    padding: 2%;
}