.banner-one_form-box{
    margin-left: 200px;
}
.banner-one_form-box{
    padding-right: 30px;
}
.text-two{
    padding-left: 445px;
}
.hotelImage{
    height: 250px;
    width: 365px;
}
.page-banner{
    height: 20px;
    margin-top: -5%;
}
.banner-one_form-box{
    margin: 0%;
    padding: 2%;
}

.booking-two{
    margin-left: 6%;
}
.travel-form{
    margin-left: 5%;
}
