<div class="page-wrapper">
    <!-- Sticky/Fixed Nav -->
    <div class="fixed_menu w-100">
        <header class="header header_style_one"></header>
    </div>

    <!-- Mobile Responsive Menu -->
    <div class="mr_menu d-lg-none">
        <button type="button" class="mr_menu_close"><i class="fa fa-times"></i></button>
        <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
        <div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
    </div>
    <!-- End Main Header -->

    <!-- Page Banner -->
    <section class="page-banner" style="background-image: url(/assets/images/background/18.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Contact Column -->
                <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2">
                    <div class="card p-4">
                        <div class="card-body">
                            <div class="title-box text-center mb-5">
                                <h4>Create An Account</h4>
                                <p class="mt-2 mb-0">Already have an account? <a href="login.html">Sign In</a></p>
                            </div>
                            <!-- Contact Form -->
                            <div class="booking-form text-start">
                                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="fName" placeholder="Your Name">
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="uName" placeholder="User Name">
                                    </mat-form-field>
<br><br>
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="email" placeholder="Email Address" required>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="phone" placeholder="Phone Number">
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="password" type="password" placeholder="Password">
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="cPassword" type="password" placeholder="Re-type Password">
                                    </mat-form-field>

                                    <!-- Other form fields here -->

                                    <button mat-raised-button color="primary" type="submit">Signup</button>
                                </form>

                                <p class="text-center mt-3 mb-0">By signing Up, I agree to Vacasky <a href="#">Terms of Use</a> <br> and <a href="#">Privacy Policy.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Page Banner -->
</div>
