<body>
	<div class="page-wrapper">
	<app-header></app-header>

    <!-- Sticky/Fixed Nav -->
	<div class="fixed_menu w-100">
		<header class="header header_style_one"></header>
	</div>

	<!-- Mobile Responsive Menu -->
	<div class="mr_menu d-lg-none">

		<button type="button" class="mr_menu_close"><i class="fa fa-times"></i></button>
		<div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
		<div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
	</div>
    <!-- End Main Header -->

	<!-- Banner One -->
	<section class="banner-one">
		<div class="banner-one_image-layer" style="background-image: url(assets/images/main-slider/1.jpg)"></div>
		<div class="auto-container">
			<!-- Content Column -->
			<div class="banner-one_content">
				<div class="banner-one_content-inner">
					<div class="banner-one_title">
						UNFORGETTABLE TRAVEL AWAITS THE
					</div>
					<h1 class="banner-one_heading">ADVENTURE</h1>
					<div class="banner-one_text">Experience the thrill of exploring the world's most fascinating destinations <br> with our expertly curated travel packages.</div>
					<!-- Form Box -->
					<div class="banner-one_text"><br><br><br></div>



					<!-- Clients Box -->
					<div class="clients-box">
						<!-- Sponsors Carousel -->
						<ul class="sponsors-carousel owl-carousel owl-theme">
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/4.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/5.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End Banner One -->

	<!-- Destination One -->
	<section class="destination-one">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2 class="sec-title_heading">POPULAR DESTINATIONS</h2>
				<div class="sec-title-text">Explore our top destinations right from our beloved clients’ reviews.</div>
			</div>
			<div class="row clearfix">

				<!-- Destination Block One -->
				<div *ngFor="let destination of destinations.slice(0, 3)" class="destination-block_one col-lg-4 col-md-7 col-sm-12">
					<div class="destination-block_one-inner">
						<div class="destination-block_one-image">
							<a href="#"><img src="assets/images/destinations/{{destination.img}}" alt="" /></a>
						</div>
						<div class="destination-block_one-content">
							<h3 class="destination-block_one-title"><a href="hotel-details.html">{{destination.nom}}</a></h3>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Destination One -->

	<!-- Feature One -->
	<section class="feature-one" style="background-image: url(assets/images/background/19.jpg)">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-smile-1"></div>
						<h5 class="feature-block_one-title">Customer Delight</h5>
						<div class="feature-block_one-text">We deliver the best service and experience for our customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-mountain"></div>
						<h5 class="feature-block_one-title">Authentic Adventure</h5>
						<div class="feature-block_one-text">We deliver the real adventure experience for our dear customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-flags"></div>
						<h5 class="feature-block_one-title">Expert Guides</h5>
						<div class="feature-block_one-text">We deliver only expert tour guides for our dear customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-clock"></div>
						<h5 class="feature-block_one-title">Time Flexibility</h5>
						<div class="feature-block_one-text">We welcome time flexibility of traveling for our dear customer.</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Feature One -->
	<!-- Testimonial One -->
	<section class="testimonial-one">
	</section>
	<!-- End Testimonial One -->

	<!-- Counter One -->
	<section class="counter-one">
		<div class="auto-container">
			<div class="inner-container">
				<div class="counter-image">
					<img src="assets/images/resource/counter.jpg" alt="" />
					<div class="counter-one_content">
						<h2 class="counter-one_title">ONLY THE BEST QUALITY FOR YOU</h2>
						<div class="counter-one_text">You deserve the ultimate best quality for your memorable experiences.</div>
					</div>
					<div class="counter-one_lower-content">
						<div class="counter-text_two">Take a look at our numbers for our <br> credibility. Let’s have an adventure!</div>
						<div class="row clearfix">

							<!-- Counter Column -->
							<div class="counter-one_block col-lg-3 col-md-6 col-sm-6">
								<div class="counter-one_block-inner wow flipInX" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="counter-one_counter"><span class="odometer" data-count="20"></span>+</div>
									<div class="counter-one_counter-text">years of experience</div>
								</div>
							</div>

							<!-- Counter Column -->
							<div class="counter-one_block col-lg-3 col-md-6 col-sm-6">
								<div class="counter-one_block-inner wow flipInX" data-wow-delay="150ms" data-wow-duration="1500ms">
									<div class="counter-one_counter"><span class="odometer" data-count="100"></span>+</div>
									<div class="counter-one_counter-text">destination countries</div>
								</div>
							</div>

							<!-- Counter Column -->
							<div class="counter-one_block col-lg-3 col-md-6 col-sm-6">
								<div class="counter-one_block-inner wow flipInX" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="counter-one_counter"><span class="odometer" data-count="10"></span>+</div>
									<div class="counter-one_counter-text">hotels</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter One -->

	<!-- Testimonial One -->
	<section class="testimonial-one">
	</section>
	<!-- End Testimonial One -->

	<!-- Video One -->
	<section class="video-one">
		<div class="outer-container">
			<div class="video-one_logo"><a href="index.html"><img src="assets/images/logo.svg" alt="" title=""></a></div>
			<div class="video-one_box wow bounce" data-wow-delay="0ms" data-wow-duration="1500ms">
				<img src="assets/images/background/1.jpg" alt="" />
				<a href="https://www.pexels.com/video/l-2942803/" class="play lightbox-video"><span class="flaticon-play"><i class="ripple"></i></span></a>
			</div>
		</div>
	</section>
	<!-- End Video One -->


	<!-- Faq One -->

	<!-- News One -->
	<section class="news-one">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="title-content">
						<h2 class="sec-title_heading">TRAVEL BLOG</h2>
						<div class="sec-title-text">Insights, tips, and stories to inspire your travels.</div>
					</div>
					<a class="news-one_more" href="blog.html">See More Articles</a>
				</div>
			</div>
			<div class="row clearfix">

				<div class="column col-lg-7 col-md-12 col-sm-12">
					<!-- News Block One -->
					<div class="news-block_one">
						<div class="news-block_one-inner">
							<div class="news-block_one-image">
								<a href="blog-details.html"><img src="assets/images/resource/news-1.jpg" alt="" /></a>
							</div>
							<div class="news-block_one-content">
								<div class="news-block_one-title">travel</div>
								<h3 class="news-block_one-heading"><a href="blog-details.html">10 Must-See Attractions in Santoric Greece</a></h3>
								<div class="news-block_one-author">
									<div class="news-block_one-author_image">
										<img src="assets/images/resource/author-2.jpg" alt="" />
									</div>
									Angus Smith
									<span>August 15, 2025</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column col-lg-5 col-md-12 col-sm-12">

					<!-- News Block One -->
					<div class="news-block_one">
						<div class="news-block_one-inner">
							<div class="news-block_one-image">
								<a href="blog-details.html"><img src="assets/images/resource/news-2.jpg" alt="" /></a>
							</div>
							<div class="news-block_one-content">
								<div class="news-block_one-title">guide</div>
								<h3 class="news-block_one-heading"><a href="blog-details.html">Our Beginner’s Guide to Start Hiking in The Swiss Alps</a></h3>
							</div>
						</div>
					</div>

					<!-- News Block One -->
					<div class="news-block_one">
						<div class="news-block_one-inner">
							<div class="news-block_one-image">
								<a href="blog-details.html"><img src="assets/images/resource/news-3.jpg" alt="" /></a>
							</div>
							<div class="news-block_one-content">
								<div class="news-block_one-title">inspiration</div>
								<h3 class="news-block_one-heading"><a href="blog-details.html">Solo Travel: The Best Thing You Can Do for Yourself</a></h3>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End News One -->


  <app-footer></app-footer>
